<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Se realizó un intento de auntenticación desde un dispositivo</h1>
    <p>resultado: <%= @mensaje %></p>
    <p>User-Agent: <%= @user_agent %></p>
  </body>
</html>